{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}def results(request, question_id):
    question = get_object_or_404(Question, pk=question_id)
    return render(request, "polls/results.html", {"question": question})
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">